@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color:rgb(255, 143, 23);
    font-family: 'Open Sans', sans-serif;
}

td.course_num
{
    font-family:monospace;
}

p,li,td,th {
    font-size:13pt;
}

h1,h2,h3,h4,h5,h6 {
    color:#e35a2c
}

#navbar {
    background-color:#60120b;
    margin-top:5px;
}

#banner {
    font-size:24pt;
    color:#ffffff;
    background-color:#993e1d;
}

#desc {
    background-color:#ffcb9d;
    color:#000000;
}

a.nav {
    color:#ffc046;
    font-size:12pt;
    font-weight:normal;
}

a.open_nav {
    color:#fff2f2;
    font-size:18pt;
    font-weight:bold;
}

hr {
    color:#ffefed;
}

a.open_nav:hover {

}

a.nav:hover{
    color:rgb(255, 94, 70);
}

a:hover {
    color:rgb(118,143,165);
}

a {
    text-decoration:none;
    color:#ff191e;
    font-weight:bold;
}

span {
    color:#ff0a05;
    font-weight:bold;
}

span.reading {
    color:#959199;
    font-weight:normal;
}

span.tutorial {
    color:#990099;
    font-weight:normal;
}

span.hw {
    color:#990000;
    font-weight:normal;
}

span.grading {
    color:#776f77;
    font-weight:bold;
}

td.highlight {
    background-color:#ff534a;
}

table.hws {
    border: 2px solid rgb(255, 65, 8);
    border-collapse:collapse;
}

th.hws {
    padding-right: 80px;
}

td.hws {
    padding-right:80px;
}

.office_hours_schedule td
{
    height:50px;
    text-align:center;
    font-weight:bold;
    background-color:rgb(235, 192, 52);
}
td.time
{
    background-color:rgb(98, 189, 80);
    color:black;
}
td.open
{
    background-color:rgb(220, 212, 205);
}
td.lecture
{
    background-color:rgb(223, 169, 46);
}
td.recitation
{
    background-color:rgb(200, 190, 240);
}
td.tas
{
    width:260px;
}
.office_hours_schedule th
{
    background-color:rgb(180,120,180);
}
.email
{
    font-size:11pt;
    color:black;
    font-weight:normal;
}


.rec_0 {
    background-color:rgb(255,204,153);
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}
.rec_1 {
    background-color:rgb(229, 204, 255);
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}
.rec_cell {
    padding: 10px 10px 10px 10px;
}
.ta_cell {
    padding: 5px 5px 10px 15px;
}
.ta_name {
    font-size:14pt;
    color: black;
}
.ta_email {
    font-size:10pt;
    color: rgb(0,0,80);
}

#instructor_data {
    font-size:14pt;
}

.instructor_photo {
    margin-left:30px;
}

.instructor_time {
    padding-left:20px;
}

.grading_total {
    background-color: rgb(255,190,150);
}
